@font-face {
    font-family: "Favorit";
    font-style: normal;
    src: url("/fonts/Favorit/ABCFavorit-Regular.otf") format("opentype"), url("/fonts/Favorit/ABCFavorit-Regular.woff") format("woff"), url("/fonts/Favorit/ABCFavorit-Regular.woff2") format("woff2"), ;
}

@font-face {
    font-family: "Favorit";
    font-style: italic;
    src: url("/fonts/Favorit/ABCFavorit-RegularItalic.otf") format("opentype"), url("/fonts/Favorit/ABCFavorit-RegularItalic.woff") format("woff"), url("/fonts/Favorit/ABCFavorit-RegularItalic.woff2") format("woff2"), ;
}